<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<link rel="stylesheet" type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">

<html>
<head>
    <title> $!page_title </title>
    <meta name="generator" content="editplus">
</head>

<body>
    #parse ("header.vm")

$screen_content

#parse ("footer.vm")

</body>

</html>