<!doctype html public "-//w3c//dtd html 4.0 transitional//en">

<link rel="stylesheet" type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/apepeskul/SoftserveApplication/master/src/main/webapp/static/css/DT_bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/cupertino/jquery-ui.css" />
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> $!page_title </title>

</head>

<body>
    #parse ("header.vm")

$screen_content

#parse ("footer.vm")

</body>

</html>