#set ($layout="login_layout.vm")
<html>
<head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">

    <script type="static/js/bootstrap.min.js"></script>
    <script type="http://code.jquery.com/jquery-latest.js"></script>


</head>

<body>
<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>#springMessage("login")</legend>
            <div class="alert alert-error " hidden="true">
                <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
            </div>
            <form method="post" action="/j_spring_security_check" accept-charset="UTF-8">
                <input type="text" class="span4" id="j_username" name="j_username" placeholder="Username">
                <input type="password" class="span4" id="j_password" name="j_password" placeholder="Password">
                 <button type="submit" name="commit" class="btn btn-info btn-block">#springMessage("signIn")</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>